.cw-row {
	display: flex;

	.col-2 { width: 16.667%; }
	.col-3 { width: 25%; }
	.col-7 { width: 58.333%; }
}

#cw-editor-wrap {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.cw-panel {
		background: #eee;
		font-size: 13px;
		color: #444;
	}

	.cw-panel-title {
		background: #fff;
		border-bottom: 1px solid #ddd;
		font-size: 13px;
		padding: 16px;
		color: #444;
		line-height: 16px;
		margin: 0;

		* { box-sizing: border-box; }

		.title-inner {
			display: inline-flex;
			width: calc(100% - 54px);
		}

		.title-desc {
			padding: 3px 0;
			width: 90px;
		}

		.selector {
			background: #f2f8ec;
			border: 1px solid #7cb342;
			padding: 3px 5px;
			width: calc(100% - 90px);
			border-radius: 0;
			min-height: 24px;
			line-height: 1;
			font-size: 13px;

			&:focus {
				box-shadow: none;
				border-color: #5b8230;
			}

			&.invalid, &.invalid:focus {
				border-color: #c78100;
			}
		}
	}

	.cw-panel-main {
		height: calc(100% - 41px);
		overflow-y: auto;
	}

	h3.cw-section-title {
		border-bottom: 1px solid #ddd;
		background: #fff;
		font-size: 14px;
		padding: 12px 16px;
		font-weight: 600;
		color: #444;
		line-height: 16px;
		margin: 0;
		cursor: pointer;
	}
}

.cw-section-content {
	display: flex;
	flex-wrap: wrap;
	padding: 0 12px;
	border-bottom: 1px solid #ddd;
	max-height: 0;
	opacity: 0;
	overflow: auto;
	transition: max-height .2s ease, opacity .2s ease;
}

.cw-panel .open .cw-section-content {
	opacity: 1;
	max-height: 1000px;
}

.cw-control {
	flex-shrink: 0;
	width: 100%;
	margin-bottom: 12px;
	box-sizing: border-box;

	&.padding, &.margin {
		margin-bottom: 0;
	}

	&.col-4 { width: 33.333%; }
	&.col-5 { width: 41.666%; }
	&.col-6 { width: 50%; }
	&.col-7 { width: 58.333%; }
	&.col-8 { width: 66.666%; }

	.cw-tabs {
		margin: 0 -12px -1px -13px;
	}

	.tab {
		&.active {
			border-bottom-color: #eee;
			background: #eee;
		}
	}

	.tab-content {
		position: relative;
		padding: 30px 0 15px;
	}

	.shorthand .tab-content {
		border-top: 1px solid #ccc;
	}

	.single-length .tab-content {
		padding: 20px 0 0;

		.reset {
			bottom: 32px;
		}
	}

	.output {
		padding: 5px;
		border-top: 1px dotted #ddd;
		border-bottom: 1px solid #ddd;
		font-size: 11px;
		margin-top: -1px;
	}

	.reset {
		position: absolute;
		right: 2px;
		bottom: 47px;
		padding: 4px;
		cursor: pointer;

		&:hover {
			background: #fff;
		}
	}

	.range-wrap {
		padding-right: 5px;
		line-height: 1.8;
	}

	input:focus {
		outline: none;
	}

	svg {
		display: block;
		margin: auto;
	}

	.wp-picker-container {
		position: relative;

		&.wp-picker-active {
			min-height: 270px;
		}

		.wp-color-result.button {
			margin-right: 2px;
		}
	}

	.wp-picker-active .wp-color-result-text {
		display: none;
	}

	.wp-picker-clear {
		&, &:hover, &:focus, &:active {
			height: 30px;
			text-indent: -100px;
			background-image: url("data:image/svg+xml,%3Csvg width='15px' height='14.7px' viewBox='0 0 50 49' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,20 L14,0 C14,6 14,9 14,9 C40,-3 65,30 38,49 C58,27 36,7 18,17 C18,17 20,19 24,23 L0,20 Z' fill='%237CB342'%3E%3C/path%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center;
			min-width: 26px;
		}
	}

	&.color input[type="text"].wp-color-picker {
		max-width: 120px;
	}

	&.border input[type="text"].wp-color-picker {
		max-width: 100px;
	}

	&.font-style, &.text-decoration {
		padding-right: 12px;
	}

	&.position .select-search__option {
		font-size: 13px;
	}
}

.cw-control-title {
	display: block;
	padding: 10px 0;

	+ .tab-content {
		margin-top: -25px;
	}
}

.border {
	.cw-tab-wrap {
		display: flex;
		flex-wrap: wrap;

		& > * {
			flex-shrink: 0;
			width: 100%;
			box-sizing: border-box;
		}

		.cw-color { width: 60%; }
		.cw-select { width: 40%; }
	}
}

button.wp-color-result .color-alpha {
	height: 28px !important;
}

#cw-quick-select {
	.cw-qs-title {
		padding: 15px 0 10px;
		text-align: center;
		line-height: 22px;
	}

	.cw-qs-title svg {
		vertical-align: text-top;
		padding-left: 10px;
	}

	ul.cw-qs-btns {
		padding: 10px;
		display: flex;
		flex-flow: column wrap;
		align-content: space-between;
		height: 300px;

		&::before, &::after {
			content: '';
			flex-basis: 100%;
			width: 0;
			order: 2;
		}
	}

	.cw-qs-btn:nth-child(3n+1) { order: 1; }
	.cw-qs-btn:nth-child(3n+2) { order: 2; }
	.cw-qs-btn:nth-child(3n)   { order: 3; }

	li.cw-qs-btn {
		padding: 6px 8px;
		background: #fff linear-gradient(90deg, #ffffff 0%, #f3f7f4 100%);
		color: #0071a1;
		border: 1px solid #0071a1;
		border-radius: 3px;
		cursor: pointer;
		width: calc(33.3% - 5px);
		box-sizing: border-box;
		margin-bottom: 10px;
		text-align: center;
	}
}

.cw-pseudo {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}

.cw-pseudo-icon {
	display: inline-block;
	background: #f2f8ec;
	border: 1px solid #7cb342;
	border-left: none;
	color: #5b8230;
	cursor: pointer;
	line-height: 22px;
	height: 24px;
}

.cw-pseudo-content {
	border: 1px solid #7cb342;
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 0;
	left: -1px;
	background: white;
	z-index: 3;
}

.cw-pseudo-item {
	padding: 3px 0 3px 7px;
	width: 52px;
	display: none;

	&:hover {
		color: #5b8230;
	}
}

.cw-pseudo.active {
	.cw-pseudo-content {
		display: inline-block;
	}

	.cw-pseudo-item:first-child {
		display: inline-block;
		background: #f2f8ec;
	}

	.cw-pseudo-icon {
		display: none;
	}
}

.cw-pseudo.open {
	.cw-pseudo-content {
		display: inline-block;
	}

	.cw-pseudo-item {
		display: inline-block;
	}

	.cw-pseudo-icon {
		display: none;
	}
}
