.env
node_modules/

assets/css/*
assets/js/*
library/backend/assets/css/greenlet-preview.*
library/backend/assets/js/greenlet-controls.*
library/backend/assets/js/greenlet-preview.*
library/backend/assets/fonts/google-fonts.json

library/addons/js/color-wings*

**/cypress.env.json
**/cypress/videos
**/cypress/screenshots
**/cypress/support
**/cypress/fixtures

**/lighthouse/reports
