.gl-radio-images {
	background: #fff;
	font-size: 0;
	padding: 2px;
	margin-bottom: 0;
	line-height: 0;
}

.gl-radio-image {
	display: inline-block;
	max-width: 25%;
	padding: 5px;
	box-sizing: border-box;
}

.gl-radio-image label {
	display: block;
}

.gl-radio-image input[type="radio"] {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
}

.gl-radio-image img {
	display: block;
}

.gl-radio-image input[type="radio"]:checked + img {
	outline: 3px solid #7cb342;
}

.gl-template-matcher-sequence {
	display: flex;
	align-items: center;
	padding: 10px 0;
}
.gl-template-matcher {
	padding-top: 0;
	border: 1px solid #ccc;
	background: #fff;
	position: relative;
}
.gl-template-matcher:not(:last-child) {
	border-right: none;
}

.gl-template-matcher select {
	height: 60px;
	margin: 0;
	border: none;
	font-size: 12px;
}

.gl-template-matcher select:focus {
	box-shadow: none;
}

.gl-template-matcher-column {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 10px;
	padding: 0 4px;
	color: #aaa;
}

.gl-template-matcher-sequence .col-1 { width: 8.33333333333%; }
.gl-template-matcher-sequence .col-2 { width: 16.6666666667%; }
.gl-template-matcher-sequence .col-3 { width: 25%; }
.gl-template-matcher-sequence .col-4 { width: 33.3333333333%; }
.gl-template-matcher-sequence .col-5 { width: 41.6666666667%; }
.gl-template-matcher-sequence .col-6 { width: 50%; }
.gl-template-matcher-sequence .col-7 { width: 58.3333333333%; }
.gl-template-matcher-sequence .col-8 { width: 66.6666666667%; }
.gl-template-matcher-sequence .col-9 { width: 75%; }
.gl-template-matcher-sequence .col-10 { width: 83.3333333333%; }
.gl-template-matcher-sequence .col-11 { width: 91.6666666667%; }
.gl-template-matcher-sequence .col-12 { width: 100%; }

.greenlet-divider {
	border-top: 2px solid #dadada;
	border-bottom: 2px solid #f7f7f7;
	margin: 10px -12px;
}

.customize-control-range {
	position: relative;
}

.customize-control-range input {
	width: 100%;
	background: #689F38;
	-webkit-appearance: none;
	height: 4px;
	border-radius: 4px;
}

.customize-control-range .dashicons {
	position: absolute;
	right: 0;
	bottom: 12px;
	font-size: 15px;
	color: #999;
}

.customize-control-checkbox .customize-inside-control-row {
	margin-left: 0;
}

.customize-control-checkbox input {
	float: right;
	width: 38px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, .2);
	margin: 0;
	transition: all .2s;
}

.customize-control-checkbox input:checked {
	background: #7CB342;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.customize-control-checkbox input[type=checkbox]:before {
	content: '';
	background: #fff;
	width: 16px;
	height: 16px;
	display: block;
	border-radius: 10px;
	margin: 1px;
	box-shadow: 0 0 2px #666;
	transform: translateX(0);
	transition: all .2s;
}

.customize-control-checkbox input[type=checkbox]:checked:before {
	transform: translateX(18px);
}

.customize-control-checkbox input[type=checkbox]:focus {
	box-shadow: none;
	border-color: rgba(0, 0, 0, .2);
}
