/**
 * Grid styles
 */

@import "../variables";
@import "mixins";

.container {
	position: relative;
	width: 100%;
	max-width: 95%;
	margin: 0 auto;
	padding: 0 var(--container-padding);
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: calc( var(--gutter-half) * -1 );
	margin-left: calc( var(--gutter-half) * -1 );
}

%grid-col {
	margin: 0;
	position: relative;
	width: 100%;
	padding: 0 var(--gutter-half);
}

@for $i from 1 through $grid-columns {
	.col, .col-#{$i} {
		@extend %grid-col;
	}
}

@media (min-width: 801px) {
	.container {
		max-width: var(--width);
	}

	@for $i from 1 through $grid-columns {
		.col-#{$i} {
			@include make-col($i, $grid-columns);
		}
	}

	@for $i from 0 through ($grid-columns - 1) {
		@if not ($i == 0) {
			.offset-#{$i} {
				@include make-col-offset($i, $grid-columns);
			}
		}
	}
}
