#color-wings {
	margin-left: -12px;
	margin-right: -12px;
	margin-top: -15px;
}

.cw-row {
	display: flex;

	.col {
		flex: 1;
	}

	.col-6 {
		width: 50%;
	}
}

.cw-panel-heading {
	padding: 10px;
	align-items: center;
	position: relative;

	.popup-content {
		width: 100%;
		box-sizing: border-box;
		position: absolute;
		z-index: 5;
		background: #fff;
		right: 0;
		border: 1px solid #ccc;
	}

	.popup-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.popup-arrow {
		width: 14px;
		height: 14px;
		background: white;
		position: absolute;
		right: 100px;
		top: -6px;
		transform: rotate(135deg);
		z-index: -1;
		box-shadow: rgba(0, 0, 0, 0.3) -1px 1px 1px;
	}

	.page-selector li {
		padding: 10px 20px;
		margin: 0;
		cursor: pointer;
	}
}

.button.button-block {
	width: 100%;
	text-align: center;
}

.cw-tabs {
	display: flex;
	margin: 0 -1px;
	position: relative;
	z-index: 2;

	.tab {
		flex: 1;
		padding: 8px;
		background: #ddd;
		border: 1px solid transparent;
		border-bottom-color: #ccc;
		cursor: pointer;
		text-align: center;

		&.active {
			border: 1px solid #ccc;
			border-bottom-color: #fff;
			background: #fff;
			cursor: auto;
		}
	}
}

#cw-code-editor {
	width: 100%;
}
