/* Grid */

@import "variables";
@import "mixins";

.container {
	position: relative;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	margin: 0;
	position: relative;
	width: 100%;
	padding: 0 15px;
}

@media (min-width: 480px) {
	.container {
		max-width: 90%;
	}
}

@media (min-width: 801px) {
	.container {
		max-width: 95%;
	}

	@for $i from 1 through $grid-columns {
		.col-#{$i} {
			@include make-col($i, $grid-columns);
		}
	}

	@for $i from 0 through ($grid-columns - 1) {
		@if not ($i == 0) {
			.offset-#{$i} {
				@include make-col-offset($i, $grid-columns);
			}
		}
	}
}
