$white:			hsl(0, 0%, 100%) !default;
$white-sec:		hsl(0, 0%, 96%) !default;

$black:			hsl(0, 0%, 0%) !default;
$black-sec:		hsl(0, 0%, 7%) !default;

$grey-darker:	hsl(0, 0%, 21%) !default;
$grey-dark:		hsl(0, 0%, 29%) !default;
$grey:			hsl(0, 0%, 48%) !default;
$grey-light:	hsl(0, 0%, 71%) !default;
$grey-lighter:	hsl(0, 0%, 86%) !default;
$grey-lightest:	hsl(0, 0%, 93%) !default;
$grey-light2:	hsl(0, 0%, 60%) !default;

$orange:		hsl(14,  100%, 53%) !default;
$yellow:		hsl(48,  100%, 67%) !default;
$green:			hsl(141, 53%,  53%) !default;
$turquoise:		hsl(171, 100%, 41%) !default;
$cyan:			hsl(204, 71%,  53%) !default;
$blue:			hsl(217, 71%,  53%) !default;
$purple:		hsl(271, 100%, 71%) !default;
$red:			hsl(348, 86%, 61%) !default;
$accent:		hsl(89, 46%, 48%) !default;

$light:			$white-sec !default;
$dark:			$grey-darker !default;

$text:			$grey-darker !default;
$text-inv:		$white-sec !default;

$link:			$blue !default;
$link-visited:	$blue !default;
$link-hover:	$grey-darker !default;
$link-inv:		$white-sec !default;
$link-inv-hover: $white !default;

$bg-pri:		$white !default;
$bg-sec:		$white-sec !default;
$bg-inv:		$black !default;
$bg-inv-sec:	$black-sec !default;

$border:		$grey-lighter !default;
$border-hover:	$grey-light !default;

$hr:			$grey-lightest !default;

$shadow:		hsla(0, 0%, 0%, .2) !default;

$button:		$text !default;
$button-bg:		$bg-pri !default;
$input-bg:		$bg-pri !default;

$radius-small:	0 !default
$radius:		0 !default
$radius-large:	0 !default
$radius-rounded: 290486px !default

$grid-columns:	12 !default;
$gutter:		30px !default;
$width:			1170px !default

$gallery-columns:	9 !default;
$post-grid-columns:	12 !default;

$font:			system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !default;
$code-font:		SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace !default;
$font-size:		62.5% !default;
$weight:		400 !default;

$container-padding:	20px !default;
$heading-weight:	300 !default;

$transition:	.2s !default;

$selection:		$text !default;
$selection-bg:	#b4d7fe !default;

$vars: (
	"accent":		$accent,
	"text":			$text,
	"text-inv":		$text-inv,
	"link":			$link,
	"link-visited":	$link-visited,
	"link-hover":	$link-hover,
	"link-inv":		$link-inv,
	"link-inv-hover": $link-inv-hover,
	"bg-pri":		$bg-pri,
	"bg-sec":		$bg-sec,
	"bg-inv":		$bg-inv,
	"bg-inv-sec":	$bg-inv-sec,
	"border":		$border,
	"border-hover":	$border-hover,
	"border-focus":	$border-hover,
	"hr":			$hr,
	"shadow":		$shadow,
	"header":		$text,
	"header-bg":	$bg-pri,
	"header-bg-sec": $bg-sec,
	"header-link":	$link-hover,
	"header-link-hover": $link,
	"button":		$button,
	"button-bg":	$button-bg,
	"input-bg":		$input-bg,
	"icon":			$grey-light2,
	"selection":	$selection,
	"selection-bg":	$selection-bg,
	"width":		$width,
	"font":			$font,
	"code-font":	$code-font,
	"font-size":	$font-size,
	"gutter":		$gutter,
	"gutter-half":	calc( var(--gutter) / 2 ),
	"container-padding": $container-padding,
	"radius-small":	$radius-small,
	"radius":		$radius,
	"radius-large":	$radius-large,
	"radius-rounded": $radius-rounded,
	"transition":	$transition,
	"weight":		$weight,
	"heading-weight": $heading-weight,
) !default;

$sides: (
	"top":		translate3D(0, -100%, 0),
	"bottom":	translate3D(0, 100%, 0),
	"left":		translate3D(-100%, 0, 0),
	"right":	translate3D(100%, 0, 0)
) !default;
