.gl-row {
	display: flex;
}

@for $i from 1 through 12 {
	.gl-row .col-#{$i} {
		width: percentage($i / 12);
	}
}

.customize-control {
	img, svg {
		display: block;
	}

	%focus {
		border-color: var(--accent);
		color: var(--accentDark);
		box-shadow: inset 0 0 0 1px var(--accent);
	}

	select {
		border-color: var(--border);
		background-size: 12px 12px;

		&:hover {
			color: var(--accentDark);
		}

		&:focus {
			@extend %focus;
		}
	}

	input[type="text"], input[type="password"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], select, textarea {
		border-color: var(--border);

		&:focus {
			@extend %focus;
		}
	}

	input[type="radio"] {
		border: 1px solid var(--border);
		box-shadow: none;

		&:checked {
			border-color: var(--accent);
			background: var(--accent);

			&:before {
				background: #fff !important;
			}
		}
	}
}

.customize-control-checkbox .customize-inside-control-row {
	margin-left: 0;
}

.customize-control-checkbox input[type="checkbox"] {
	float: right;
	width: 38px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, .2);
	background: #dadbdd;
	margin: 0;
	transition: all .2s;
	position: relative;

	&:checked {
		background: var(--accent);
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	&:before {
		content: '';
		position: absolute;
		display: block;
		margin: 0;
		width: 6px;
		height: 6px;
		top: 50%;
		right: 6px;
		border-radius: 50px;
		border: 1px solid #b4b4b4;
		transform: translateY(-50%);
	}

	&:checked:before {
		content: '';
		background: rgba(255, 255, 255, 0.5);
		width: 1px;
		height: 8px;
		display: block;
		left: 10px;
		border: none;
	}

	&:after {
		content: '';
		position: absolute;
		background: #fff;
		width: 16px;
		height: 16px;
		display: block;
		border-radius: 10px;
		margin: 1px;
		box-shadow: 0 0 2px #666;
		transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.175);
	}

	&:checked:after {
		transform: translateX(18px);
	}

	&:focus {
		box-shadow: 0 0 0 1px var(--accent);
		border-color: var(--accent);
	}
}

.customize-control-multicheck input {
	border: 1px solid var(--border);
	box-shadow: none;
	margin-right: .5rem;

	&:checked {
		border-color: var(--accent);
		background: var(--accent);

		&:before {
			content: '';
			width: 8px;
			height: 4px;
			border: 2px solid #fff;
			border-top: none;
			border-right: none;
			transform: rotate(-45deg);
			margin: 0.12rem 0 0 0.12rem;
		}
	}
}

.customize-section-sidebar .customize-section-title {
	position: relative;
}

.control-section-sidebar .back-to-layout {
	position: absolute;
	left: 0;
	top: 0;
}

#customize-theme-controls .control-section.customize-pane-child.open {
	height: 100%;
}

#accordion-section-title_tagline,
#accordion-panel-layout,
#accordion-panel-blog,
#accordion-section-performance,
#accordion-section-presets,
#accordion-section-extra_styles {
	h3:before {
		content: '';
		width: 4px;
		height: 4px;
		position: absolute;
		right: 6px;
		top: calc(50% - 2px);
		background: var(--accent);
		border-radius: 50%;
	}
}

#accordion-section-framework {
	margin-bottom: 15px;
}

#accordion-section-header_section.control-section {
	border-top: 1px solid #ddd;
}

.gl-radio-images {
	font-size: 0;
	margin-bottom: 0;
	line-height: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 5px;
}

.gl-radio-image {
	max-width: calc(25% - 10px);
	padding: 10px 0;
	box-sizing: border-box;

	label {
		display: block;
		position: relative;
	}

	input[type="radio"] {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		& + .icon {
			color: #fff;
			background: #c4c8ca;
			transition: all.1s;
		}

		&:checked + .icon, &:focus + .icon {
			color: var(--accent);
			background: #fff;
		}

		&:not(:checked):hover + .icon {
			color: #fff;
			background: var(--accent);
		}
	}

	svg {
		width: 100%;
		height: auto;
	}

	input[type="radio"]:checked + img {
		outline: 3px solid var(--accent);
	}

	input[type="radio"]:focus + img {
		outline: 3px solid var(--accent);
	}

	label .preset-name {
		display: block;
		line-height: 1.2;
		font-size: 11px;
		padding-top: 8px;
		text-align: center;
	}

	.template-name {
		position: absolute;
		width: 100%;
		height: 10px;
		line-height: 1;
		font-size: 10px;
		text-align: center;
		top: -13px;
		visibility: hidden;
	}

	&:hover .template-name {
		visibility: visible;
	}
}

.customize-control-template-sequence {
	.gl-radio-image {
		max-width: 62px;
	}

	.icon svg {
		height: 40px;
	}

	.icon rect {
		height: 42px;
		y: -13;
	}
}

.customize-control-template {
	.gl-radio-image input[type="radio"]:checked + img {
		outline: 3px solid var(--accent);
	}

	.more-wrap input[type="checkbox"] {
		background: none;
		border: none;
		box-shadow: none;
		width: 100%;
		margin: 0 0 10px;
		padding: 0 5px !important;
		text-align: right;
		font-size: 13px;
	}

	.more-wrap input[type="checkbox"]:before {
		content: 'More options';
		color: #0277BD;
		display: block;
		height: 1rem;
		line-height: 1rem;
		padding: 0;
		width: 100%;
		margin: 0;
	}

	.more-wrap input[type="checkbox"]:checked:before {
		content: 'Less options';
	}

	.more-wrap input[type="checkbox"]:checked + .more-content {
		max-height: 200px;
	}

	.more-content {
		padding: 2px 1px;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
	}
}

.customize-control-preset {
	.gl-radio-image {
		max-width: calc(33.3% - 15px);
		padding: 12px 0;
	}
}

.greenlet-divider {
	border-top: 2px solid #dadada;
	border-bottom: 2px solid #f7f7f7;
	margin: 10px -12px;
}

.cover-layout {
	button {
		cursor: pointer;
		border-radius: 3px;
		background: none;

		&:focus {
			outline: none;
			border-color: var(--accent);
			box-shadow: inset 0 0 0 1px var(--accent);
		}
	}

	.row {
		margin-left: -12px;
		margin-right: -12px;
	}

	.row-title {
		background: #fff;
		padding: 8px 10px;
		border-left: 2px solid transparent;
		transition: all .15s ease-in-out, border-color .15s ease-in-out, background .15s ease-in-out;
		box-shadow: 0 0 0 1px #ddd;
		position: relative;
		cursor: pointer;
	}

	.row-content {
		padding: 0 12px;
		border-bottom: 1px solid #ddd;
		max-height: 0;
		overflow-y: auto;
		box-sizing: border-box;
		transition: .5s all;
		opacity: 0.2;
	}

	.expanded .row-content {
		padding: 8px 12px 14px;
		max-height: 500px;
		opacity: 1;
	}

	.add-button {
		background: #fff;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		margin: auto;
		padding: 2px;
		border: 1px solid #ccc;
	}

	.dashicons {
		font-size: 14px;
		width: auto;
		height: auto;
		vertical-align: text-top;
	}

	.add-wrap {
		padding: 6px;
		text-align: center;

		.add-button {
			display: block;
		}
	}

	.make-primary {
		display: inline-flex;
		border: 1px solid transparent;
		border-radius: 10px;
		color: #999;
		height: 20px;
		width: 20px;
		padding: 2px 0 0 0;
		margin-left: 10px;
		justify-content: center;

		.dashicons {
			font-size: 13px;
		}
	}

	.toggler {
		display: flex;
		float: right;
		border: 1px solid transparent;
		border-radius: 9px;
		color: #999;
		padding: 0;
		height: 18px;
		width: 18px;
		transition: .2s transform;

		.dashicons{
			line-height: 16px;
		}
	}

	.row.expanded .toggler {
		transform: rotateZ( -180deg );
	}

	.layout-control {
		margin-bottom: 12px;
		align-items: center;

		.title {
			display: block;
			margin-bottom: 5px;
		}

		&-items {
			box-shadow: 0 0 2px rgba(0, 0, 0, .4);
			border-radius: 3px;
			background: #fff;
		}
	}

	.cols-title {
		padding: 5px;
	}

	.cover-layout-col {
		min-height: 30px;
		border-top: 1px solid #eee;

		.add-button {
			background: var(--accent);
			color: #fff;
			border-color: transparent;
			margin: 2px 0 2px;

			&:focus {
				box-shadow: 0 0 0 2px #027cba;
			}
		}
	}

	.col-name, .col-items, .col-items .sortable {
		padding: 5px;
		display: flex;
		flex-wrap: wrap;
		column-gap: 10px;
		row-gap: 10px;
	}

	.col-items .sortable {
		padding: 0;
	}

	.col-name {
		border-right: 1px solid #f9f9f9;
	}

	.cw-popup {
		display: inline-block;
		max-width: 20px;
	}

	.layout-item {
		border: 1px solid transparent;
		border-bottom-color: #f2f2f2;
		border-radius: 0;
		padding: 10px 20px;
		width: 100%;
		text-align: left;
		color: #0071a1;

		&:hover {
			background: var(--accentLight);
		}

		&:last-child {
			border-bottom-color: transparent;
		}
	}

	.open {
		&.col-item {
			margin-right: 0;
			width: 100%;
		}

		& > .item-id {
			width: 100%;
			padding-right: 24px;
			border-radius: 3px 3px 0 0;
		}

		.item-x {
			display: inline-block;
		}
	}

	.item-props {
		background: var(--accentLight);
		border: 1px solid rgba(0, 0, 0, .2);
		border-top: none;
		box-shadow: 0 6px 10px rgba(0, 0, 0, .1);

		.item-prop {
			display: flex;
			margin-bottom: 8px;

			&.hidden {
				display: none;
			}
		}

		.prop-title {
			width: 25%;
			font-size: 12px;
		}

		input.prop-control {
			width: 75%;
			min-height: 26px;
			height: 26px;
			font-size: 13px;
		}

		& > button {
			background: #fff;
			border: 1px solid #c4c8ca;
			padding: 2px 6px;

			&:focus {
				border-color: var(--accent);
			}
		}
	}

	.empty-message {
		text-align: center;
		padding: 5px;
		margin-bottom: 8px;
	}

	select {
		margin: 0;
	}

	.row-footer {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
	}

	.delete {
		--accent: #a00;
		color: #a00;
		border: 1px solid #c4c8ca;
		padding: 2px 6px;
	}

	.advanced {
		max-height: 0;
		overflow-y: hidden;
		transition: 0.5s all;

		&.open {
			max-height: 500px;
		}
	}

	.advanced-toggle {
		text-align: right;
		position: relative;

		span {
			padding-right: 5px;
		}

		.check {
			position: absolute;
			right: 0;
			top: 0;
			width: 110px;
			height: 22px;
			background: none;
			margin: 0;
			box-shadow: none;
			border-color: #c4c8ca;

			&:checked::before {
				content: '';
			}

			&:focus {
				border-color: var(--accent);
				box-shadow: 0 0 0 1px var(--accent);
			}
		}
	}

	.expandable {
		opacity: 0;
		max-height: 0;
		max-width: 0;
		overflow: hidden;
		transition: .2s all;
		padding: 0 5px;
	}

	.open > .expandable {
		opacity: 1;
		overflow: auto;
		max-height: 1000px;
		max-width: 100%;
		padding: 8px 5px 0 5px;
	}

	.select-search__input {
		height: 26px;
		font-size: 13px;
	}

	.select-search__row {
		margin: 0;
	}

	.select-search__option {
		height: 24px;
		line-height: 24px;
		font-size: 13px;
		border-radius: 0;
	}
}

/* Sortable Cover Column Items */

.gl-sort-clone {
	z-index: 999500;
}

.gl-col-item {
	display: inline-block;
	position: relative;

	.item-id {
		display: inline-flex;
		background: var(--accent);
		color: #fff;
		border: none;
		cursor: pointer;
		box-sizing: border-box;
		border-radius: 3px;

		span {
			padding: 5px 6px 6px 0;
			line-height: 1;
		}

		.drag-handle {
			cursor: move;
			padding-left: 6px;
		}
	}

	.item-x {
		position: absolute;
		right: 2px;
		top: 2px;
		width: 20px;
		height: 20px;
		background: #fff;
		color: #D84315;
		padding: 2px 0 0 2px;
		cursor: pointer;
		box-sizing: border-box;
		text-align: center;
		display: none;
		border: none;
		border-radius: 2px;

		&:focus {
			box-shadow: 0 0 0 2px #027cba;
			color: #D84315;
		}
	}

	&.gl-sort-clone .item-props {
		display: none;
	}
}

.gl-ext-link {
	margin-bottom: 1px;

	a {
		padding: 10px 10px 11px 14px;
		background: #fff;
		border-left: 4px solid #fff;
		transition: .15s color ease-in-out, .15s background-color ease-in-out, .15s border-color ease-in-out;
		box-shadow: 0 0 0 1px var(--accent);
		display: block;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		position: relative;
		line-height: 1.55;

		&:hover, &:focus {
			background: #f3f3f5;
			border-left-color: #0073aa;

			&:after {
				color: #0073aa;
			}
		}

		&:after {
			content: '\f345';
			font: normal 20px/1 dashicons;
			color: #a0a5aa;
			position: absolute;
			right: 10px;
			top: calc(50% - 10px);
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}

	&.control {
		width: 100%;
		float: left;
		clear: both;
		margin-top: 12px;
		margin-bottom: 12px;

		a {
			border-left-width: 2px;
			padding: 6px 10px;
			font-size: 13px;
			font-weight: 500;

			&:after {
				content: "\f504";
				font: normal 16px/1 dashicons;
				top: calc(50% - 8px);
			}
		}
	}
}

.gl-sequence {
	margin: 14px 0 28px;
}

.gl-sequence-col {
	padding-top: 0;
	position: relative;

	&:not(:last-child) select {
		border-right-width: 0;
	}

	&:first-child select {
		border-radius: 3px 0 0 3px;
	}

	&:last-child select {
		border-radius: 0 3px 3px 0;
	}

	&:only-child select {
		border-radius: 3px;
	}

	select {
		width: 100%;
		margin: 0;
		font-size: 12px;

		&:focus {
			border-right-width: 1px;
		}
	}
}

.gl-sequence-name {
	position: absolute;
	top: 110%;
	left: -1px;
	font-size: 10px;
	color: #aaa;
	width: calc( 100% + 2px);
	text-align: center;
	overflow: hidden;

	svg.gl-arrow {
		position: absolute;
		left: 0;
		top: 4px;

		&.right {
			transform: rotateZ( 180deg );
			right: 0;
			left: auto;
		}
	}

	&> span {
		background: #eee;
		position: relative;
		padding: 0 4px;
	}
}

.gl-border {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.gl-border .width-wrap {
	flex-grow: 1;
	height: 30px;
	line-height: 25px;
}

.customize-control-border input[type="range"] {
	width: 95%;
}

.customize-control-border select {
	width: 111px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.aspect {
	position: absolute;
	left: 40%;
	top: 115%;
	color: #999;
	font-size: 18px;
	cursor: pointer;
	display: inline-block;
	z-index: 10;
}

.lock-indicator {
	position: absolute;
	left: calc(40% + 10px);
	height: 50px;
	border-right: 1px dashed #ccc;
	top: 45px;
	transition: .2s all;
	transform: scale(1);
}

.dashicons-unlock ~ .lock-indicator {
	transform: scale(0);
}

.aspect:before {
	background: #eee;
}

.customize-control-cover-layout .notice {
	max-height: 0;
	padding: 0;
	overflow: hidden;
	animation: .4s forwards ease grow;
}

@keyframes grow {
	100% {
		max-height: 200px;
		padding: 9px 14px;
	}
}

.gl-doc-link {
	position: absolute;
	top: 13px;
	right: 1px;
	text-decoration: none;
	padding: 10px;

	.dashicons {
		color: #555e66;
		font-size: 16px;
	}

	.tip {
		position: absolute;
		bottom: calc(100% - 10px);
		right: 10px;
		background: #000;
		color: #fff;
		padding: 2px 6px;
		border-radius: 3px;
		opacity: 0;
		transition: .2s all;
	}

	&:hover {
		.dashicons {
			color: #006799;
		}

		.tip {
			opacity: 1;
		}
	}
}

.gl-sorter {
	.group {
		position: relative;
		padding: 5px 0;

		&.top, &.middle, &.bottom {
			&:before {
				content: '';
				width: calc(100% + 10px);
				height: 100%;
				position: absolute;
				top: 0;
				left: -6px;
				border: 1px dashed #bbb;
				border-top-color: transparent;
				border-bottom-color: transparent;
			}
		}

		&.top {
			padding-top: 22px;

			&:before {
				border-top-color: #bbb;
			}

			&:after {
				content: 'CARD';
				top: 0;
				left: 0;
				position: absolute;
				font-size: 8px;
				font-weight: 600;
				color: #999;
			}
		}

		&.bottom {
			padding-bottom: 8px;

			&:before {
				border-bottom-color: #bbb;
			}
		}

		&.above, &.below {
			padding: 20px 0 10px;
		}
	}

	.group-inner {
		background: #e6e6e6;
		padding: 1px 5px 5px 0;
		min-height: 44px;
		box-sizing: border-box;
		position: relative;
	}

	.group-title {
		position: absolute;
		left: 50%;
		top: -8px;
		font-size: 8px;
		line-height: 14px;
		background: #e6e6e6;
		padding: 0 10px;
		text-transform: uppercase;
		font-weight: 600;
		color: #999;
		transform: translateX(-50%);
		border-radius: 50%;
	}

	.item {
		border: 1px solid #c4c8ca;
		margin: 5px 0 0 5px;
		background: #fff;
	}

	.hidden-item {
		opacity: .6;
		transition: .2s opacity;

		&:hover {
			opacity: 1;
		}
	}

	.handle {
		padding: 12px;
		display: inline-block;
		line-height: .7;
		font-size: 16px;
		cursor: move;
	}

	.title {
		font-weight: 500;
	}

	button {
		float: right;
		padding: 8px 6px 5px;
		background: none;
		border: 1px solid transparent;
		border-left-color: #eee;
		color: #565f67;
		cursor: pointer;

		&:focus {
			outline: none;
			border-color: var(--accent);
			box-shadow: inset 0 0 0 1px var(--accent);
		}
	}

	.dashicons {
		font-size: 16px;

		&:after {
			opacity: 0;
			margin-left: -4px;
		}
	}

	.dashicons-visibility:after {
		content: '\f530';
	}

	.dashicons-hidden:after {
		content: '\f177';
	}

	button:hover .dashicons-visibility, button:hover .dashicons-hidden {
		&:before {
			font-size: 0;
			opacity: 0;
		}

		&:after {
			opacity: 1;
		}
	}

	.toggler .dashicons {
		font-size: 14px;
		line-height: 20px;
		transition: .2s transform;
	}

	.toggler.open .dashicons {
		transform: rotateZ( -180deg );
	}

	.item-meta {
		display: none;

		&.open {
			display: block;
		}

		label {
			display: block;
			padding: 6px 0;

			span {
				margin-left: 4px;
			}
		}
	}

	.meta-control {
		padding: 10px;
		border-top: 1px solid #ddd;
	}

	.control-label {
		font-weight: 500;
		margin-bottom: 6px;
	}

	.control-description {
		margin-bottom: 6px;
	}
}
