input {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}

.hidden {
	display: none;
}

.cw-row {
	display: flex;

	.col-2 { width: 16.667%; }
	.col-3 { width: 25%; }
	.col-7 { width: 58.333%; }
}

#cw-editor-wrap {
	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.cw-panel {
		position: fixed;
		top: 18%;
		left: 1%;
		display: block;
		width: 16%;
		height: 80%;
		background: #eee;
		font-size: 13px;
		color: #444;
		border: 1px solid #ddd;
		box-shadow: 0 0 2px 0 rgba(124, 179, 66, 0.2);
	}

	.cw-panel-title {
		border-bottom: 1px solid #ddd;
		font-size: 14px;
		padding: 12px 16px;
		color: #444;
		line-height: 16px;
		margin: 0;
	}

	.cw-panel-main {
		height: calc(100% - 41px);
		overflow-y: auto;
	}

	h3.cw-section-title {
		border-bottom: 1px solid #ddd;
		background: #fff;
		font-size: 14px;
		padding: 12px 16px;
		font-weight: 600;
		color: #444;
		line-height: 16px;
		margin: 0;
	}
}

.cw-section-content {
	border-bottom: 1px solid #ddd;
	max-height: 0;
	transform: scaleY(0);
	overflow: auto;
	transition: max-height .7s linear, transform .7s linear;
}

.open .cw-section-content {
	transform: scaleY(1);
	max-height: 600px;
}

.cw-control {
	.cw-length {
		.tabs {
			display: flex;
			margin: 0 0 -1px -1px;
			position: relative;
			z-index: 2;
		}

		.tab {
			padding: 8px 10px;
			border: 1px solid transparent;
			border-top: none;
			cursor: pointer;

			&.active {
				border: 1px solid #ccc;
				border-bottom-color: #eee;
				border-top: none;
				background: #eee;
			}
		}

		.tab-content {
			position: relative;

			&.shorthand {
				border-top: 1px solid #ccc;
				padding: 30px 5px 15px;
			}
		}

		.output {
			padding: 5px;
			border-top: 1px solid #ccc;
			font-size: 11px;
			margin-top: -1px;
		}

		.reset {
			position: absolute;
			right: 6px;
			bottom: 47px;
			padding: 4px;
			cursor: pointer;

			&:hover {
				background: #fff;
			}
		}

		svg {
			display: block;
		}
	}
}
