$baseWidth: 20px;

#cw-domtree {
    width: 100%;
    height: 30px;
    border-top: 1px solid rgb(221, 221, 221);
    bottom: 0px;
    position: fixed;
    background: rgb(238, 238, 238);
    overflow: scroll;
    font-size: 14px;
    color: rgb(68, 68, 68);
    line-height: 16px;
    margin: 0px;

    .cw-domtree-list {
        overflow: hidden;
        white-space: nowrap;
        list-style-type: none;
    }

    .cw-domtree-elements {
        display: inline-block;
        padding: 0px 20px;
        background-color: #ddd;
        line-height: 2;
    }
    .cw-domtree-elements:hover, .cw-domtree-elements:hover::after{
        background-color: rgb(124, 179, 66);
        color: #fff;
    }

    .cw-domtree-elements::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: $baseWidth * 1.5;
        height: $baseWidth * 1.5;
        top: 0;
        background-color: #ddd;
        border-top-right-radius: 5px;
        transform: scale(0.707) rotate(45deg);
        box-shadow: 1px -1px rgba(0,0,0,0.25);
        z-index: 1;
        margin-left: 5px;
    }
}

